<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diycheng.gsonstudy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".primer.PrimerActivity" />
        <activity android:name=".mapset.MapSetActivity" />
        <activity android:name=".generic.GenericActivity" />
        <activity android:name=".handlenull.HandleNullActivity" />
        <activity android:name=".annotation.AnnotationActivity" />
        <activity android:name=".fieldnamingpolicy.FieldNamingPolicyActivity" />
        <activity android:name=".exclusionstrategy.ExclusionStrategyActivity" />
        <activity android:name=".faulttolerant.FaultTolerantActivity" />
        <activity android:name=".enumtest.EnumTestActivity" />
        <activity android:name=".fixbugs.FixBugsActivity" />
        <activity android:name=".serialize.SerializerActivity" />
        <activity android:name=".deserialize.DeserializerActivity" />
        <activity android:name=".streamapi.StreamApiActivity" />
        <activity android:name=".typeadapter.TypeAdapterActivity" />
        <activity android:name=".bestpractice.BestPracticeActivity"></activity>
    </application>

</manifest>